<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc.dll" version="4.8.6" targetFramework="net472" />
  <package id="Encompass.Automation.SDK" version="21.3.0" targetFramework="net472" />
  <package id="Encompass.Objects.SDK" version="21.3.0" targetFramework="net472" />
</packages>